<div class="right-panel">
    {{#if isFavoriteEnabled}}
        <div class="checkbox active"></div>
    {{else}}
        <div class="checkbox"></div>
    {{/if}}
    {{t 'favorites'}}
</div>
<div id="proxy-content">
    <div class="content-wrapper">
        <table id="proxy-list-box"></table>
    </div>
    <button class="bottom-button refresh"></button>
</div>