<div class="right-panel">
    <i class="filter"></i><!--
    --><div class="checkbox"></div>
    {{t 'favorites'}}
</div>
<div id="proxy-content">
    <div class="filters">
        <div class="protocol-selector"></div>
        <select id="country-filter" name="country" title="country-filter"></select>
    </div>
    <div class="content-wrapper">
        <table id="proxy-list-box"></table>
    </div>
    <button class="bottom-button refresh"></button>
</div>